.inputbox {
  position: relative;
}

input:not([type="checkbox"],select {
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin: 10px;
  height: 50px;
  line-height: 6ex;
}




label {
  position: absolute;
  top: 0.2ex;
  z-index: 1;
  font-weight: 600;
  left: 1em;
  background-color: white;
  padding: 5px 10px;
}

.card{
  min-height:200px;
}